html:has([data-nss-processing="true"]) {
  cursor: wait;
}
html:has([data-nss-processing="true"]) body {
  pointer-events: none;
  animation: nss-load 1s ease-in-out infinite alternate;
}

body {
  transition: opacity 500ms ease-in-out;
}

@keyframes nss-load {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 0.3;
  }
}
