* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --spacing: 1em;
}

input,
button {
  min-width: 0px;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  width: max-content;
  transition: opacity 250ms ease-in-out, background-color 250ms ease-in-out;
}

body[data-loading="true"] {
  opacity: 0;
  animation: loading 2.5s ease-in-out infinite both;
}

body[data-running="false"] > *:not(#flash) {
  display: none;
}

@keyframes loading {
  0%,
  100% {
    background-color: gray;
  }
  50% {
    background-color: white;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.copyable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

#flash {
  list-style: none;
}

#flash > li {
  cursor: pointer;
}

#flash .error,
#flash .alert {
  display: block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  margin: calc(var(--spacing) / 2);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: white;
}

#flash .error {
  background-color: darkred;
}
#flash .alert {
  background-color: darkgreen;
}

main,
header,
footer {
  padding: calc(var(--spacing) / 1);
}

hr {
  opacity: 0.5;
  margin-block-end: calc(var(--spacing) / 4);
  margin-inline: calc(var(--spacing) / 1);
}

h1 {
  font-size: 0.975rem;
}

#work-orders {
  list-style: none;

  max-height: 400px;
  overflow: auto;
}

#work-orders li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "wo address actions"
    "desc desc actions";
  column-gap: calc(var(--spacing) / 1);
  row-gap: calc(var(--spacing) / 4);

  padding: calc(var(--spacing) / 4);
  margin-block-end: calc(var(--spacing) / 2);
  border: 1px solid black;
}

#work-orders li .work-order-no {
  grid-area: wo;
}
#work-orders li .unit {
  grid-area: address;
}
#work-orders li .description {
  grid-area: desc;
}
#work-orders li .actions {
  grid-area: actions;
}

#work-orders .description p {
  font-size: 0.625rem;
  color: gray;

  overflow: hidden;
  max-width: 55ch;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

#work-orders .work-order-no {
  font-size: 1.2rem;
  font-weight: 700;
  place-self: center;

  background-color: hsl(0, 0%, 0%, 0.125);
  padding: calc(var(--spacing) / 6);
}

#work-orders .unit .street {
  font-weight: 700;
}

#work-orders .actions {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: start;
  gap: calc(var(--spacing) / 4);
}

#work-orders .actions .icon {
  display: block;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  padding: calc(var(--spacing) / 4);
}
#work-orders .actions .icon svg {
  display: block;
  width: 100%;
  height: 100%;

  fill: white;
}

#work-orders .actions button {
  border: none;
  background-color: var(--bg-color, gray);
}
#work-orders .actions button:hover {
  background-color: hsl(from var(--bg-color) h s calc(l + 10) / 1);
}
#work-orders .actions button.insert {
  --bg-color: darkgreen;
}
#work-orders .actions button.delete {
  --bg-color: darkred;
}

footer {
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--spacing) / 4);
  align-items: center;
  justify-content: end;
}

footer button {
  font-size: 0.875rem;
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
}

footer button[data-hidden="true"] {
  display: none;
}

footer button.clear {
  color: white;
  background-color: darkred;
  border-color: darkred;
}
footer button.clear:hover {
  background-color: hsl(from darkred h s calc(l + 10) / 1);
}
