button.nss-button {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  padding: 0;
  border: none;
  background-color: transparent;

  filter: drop-shadow(1px 1px 1px hsl(0, 0%, 0%, 0.5));
}

button.nss-remove-work-order .icon svg {
  fill: darkred;
}
button.nss-remove-work-order:hover .icon svg {
  fill: red;
}

button.nss-save-work-order .icon svg {
  fill: green;
}
button.nss-save-work-order:hover .icon svg {
  fill: lightgreen;
}

button.nss-button .icon {
  display: block;
  aspect-ratio: 1 / 1;
  width: 2rem;
}

button.nss-button .icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

li:has(> button.nss-button) {
  position: relative;
}
